
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    float: right;
    font-style: italic;
    font-family: sans-serif;
    font-size: 40px;
    margin: 0;
}

.marquee {
    overflow: hidden;
    animation: marquee 15s linear infinite;
}

.reverse-marquee {
    overflow: hidden;
    animation: reverse-marquee 15s linear infinite;
}

@keyframes marquee {
    0%   { transform: translatex(0%); }
    100% { transform: translatex(-100%); }
}

@keyframes reverse-marquee {
    0%   { transform: translatex(-100%); }
    100% { transform: translatex(0%); }
}

.signup-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

iframe {
    border: none;
    flex-grow: 1;
}
